.Projects {
  background-color: #202020;
  color: #ffffff;
  min-height: 60vh;
}

.projects-container {
  display: flex;
  position: relative;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding-top: 35px;
}

.project-container {
  min-width: 250px;
  max-width: 250px;
}

.projects-title-container {
  flex-direction: column;
}
.projects-title {
  justify-content: flex-end;
}
.projects-underline {
  height: 3px;
  background-color: #4682b4;
  margin-left: auto;
  width: 165px;
}

.load-more-btn-container {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #ffffff;
}
.load-more-btn {
  width: 100%;
  padding: 15px 25px;
  margin: 5px;
  font-size: 20px;
  font-style: bolder;
  background: transparent;
  border: 2px solid #ffd700;
  transition: 0.3s ease-in-out;
}

.load-more-btn:hover {
  color: #000000;
  background-color: #ffd700;
  cursor: pointer;
}
