.Splash {
  font-family: sans-serif;
  position: relative;
}

.lightning-bolt,
.lightning-bolt-two {
  will-change: transform, opacity;
  height: auto;
  position: absolute;
  max-width: 120px;
  top: 37%;
  left: 0%;
  transform: translate(70px, -120px) rotate(45deg);
}

.lightning-bolt-two {
  max-width: 115px;
  transform: translate(70px, -122px) rotate(45deg);
}

@media only screen and (min-width: 300px) {
  .lightning-bolt {
    max-width: 100px;
    transform: translate(90px, -107px) rotate(45deg);
  }
  .lightning-bolt-two {
    max-width: 95px;
    transform: translate(90px, -107px) rotate(45deg);
  }
}

@media only screen and (min-width: 420px) {
  .lightning-bolt {
    max-width: 105px;
    transform: translate(110px, -107px) rotate(45deg);
  }
  .lightning-bolt-two {
    max-width: 100px;
    transform: translate(110px, -107px) rotate(45deg);
  }
}

@media only screen and (min-width: 768px) {
  .lightning-bolt {
    max-width: 130px;
    transform: translate(140px, -130px) rotate(45deg);
  }
  .lightning-bolt-two {
    max-width: 125px;
    transform: translate(140px, -132px) rotate(45deg);
  }
}

@media only screen and (min-width: 992px) {
  .lightning-bolt {
    max-width: 140px;
    transform: translate(150px, -137px) rotate(45deg);
  }
  .lightning-bolt-two {
    max-width: 135px;
    transform: translate(150px, -139px) rotate(45deg);
  }
}

@media only screen and (min-width: 992px) and (max-height: 750px) {
  .lightning-bolt {
    max-width: 130px;
    transform: translate(130px, -130px) rotate(45deg);
  }
  .lightning-bolt-two {
    max-width: 125px;
    transform: translate(130px, -132px) rotate(45deg);
  }
}

@media only screen and (min-width: 992px) and (max-height: 600px) {
  .lightning-bolt {
    max-width: 130px;
    transform: translate(110px, -130px) rotate(45deg);
  }
  .lightning-bolt-two {
    max-width: 125px;
    transform: translate(110px, -132px) rotate(45deg);
  }
}

@media only screen and (min-width: 1100px) and (min-height: 820px) {
  .lightning-bolt {
    max-width: 130px;
    transform: translate(145px, -130px) rotate(45deg);
  }
  .lightning-bolt-two {
    max-width: 125px;
    transform: translate(145px, -132px) rotate(45deg);
  }
}

@media only screen and (min-width: 1100px) and (min-height: 950px) {
  .lightning-bolt {
    max-width: 130px;
    transform: translate(160px, -130px) rotate(45deg);
  }
  .lightning-bolt-two {
    max-width: 125px;
    transform: translate(160px, -130px) rotate(45deg);
  }
}

@supports (-webkit-touch-callout: none) {
  .lightning-bolt,
  .lightning-bolt-two {
    transform: translate(85px, -105px) rotate(45deg) !important;
  }
  .lightning-bolt-two {
    transform: translate(85px, -105px) rotate(45deg) !important;
  }
}

.flicker {
  animation: flicker 4s ease infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  40% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.intro-first-name,
.intro-last-name,
.intro-titles {
  will-change: transform, opacity;
  display: flex;
}

.intro-first-name,
.intro-last-name {
  font-size: 2em;
  text-transform: uppercase;
}

.intro-titles {
  font-size: 16px;
  justify-content: center;
}

.arrow-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 55px;
}
.projects-arrow-button {
  cursor: pointer;
  animation: movingArrow 4s ease infinite;
}

.projects-arrow-button-two {
  cursor: pointer;
  margin-top: -25px;
  animation: movingArrowTwo 4s ease infinite;
}

@keyframes movingArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes movingArrowTwo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
