.Splash {
  font-family: sans-serif;
  position: relative;
}

.lightning-bolt,
.lightning-bolt-two {
  will-change: transform, opacity;
  height: auto;
  position: absolute;
  max-width: 120px;
  top: -15%;
  transform: rotate(45deg);
  right: calc(5% - 60px);
}

.lightning-bolt-two {
  top: -15.5%;
  right: calc(8% - 60px);
}

@media only screen and (min-width: 768px) {
  .lightning-bolt,
  .lightning-bolt-two {
    max-width: 150px;
    right: calc(5% - 75px);
  }

  .lightning-bolt-two {
    top: -16.5%;
  }
}

@media only screen and (min-width: 1100px) {
  .lightning-bolt,
  .lightning-bolt-two {
    top: -14%;
    max-width: 160px;
    right: calc(8% - 80px);
  }

  .lightning-bolt-two {
    top: -16%;
  }
}

@media only screen and (min-height: 950px) {
  .lightning-bolt,
  .lightning-bolt-two {
    top: -10%;
  }

  .lightning-bolt-two {
    top: -11.5%;
  }
}

.flicker {
  animation: flicker 4s ease infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  40% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.intro-first-name,
.intro-last-name,
.intro-titles {
  will-change: transform, opacity;
  display: flex;
}

.intro-first-name,
.intro-last-name {
  font-size: 2em;
  text-transform: uppercase;
}

.intro-titles {
  font-size: 16px;
  justify-content: center;
}

.arrow-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 55px;
}
.projects-arrow-button {
  cursor: pointer;
  animation: movingArrow 4s ease infinite;
}

.projects-arrow-button-two {
  cursor: pointer;
  margin-top: -25px;
  animation: movingArrowTwo 4s ease infinite;
}

@keyframes movingArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes movingArrowTwo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
